<h1>New games</h1>
<div class="d-flex align-items-start w-75 d-flex justify-content-around">
  <% @my_letters.each do |letter| %>
    <div class="text-bg-primary p-3"><%= letter %></div>
  <% end %>
</div>
<h3>What is the longest word you can find ?</h3>

<form action="score" method="POST" data-turbo="false">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="word" placeholder="choose your word">
  <%= hidden_field_tag :my_letters, @my_letters.join %>
  <input type="submit" value="play">
</form>
